<app-search-bar (search)="onSearch($event)"></app-search-bar>

<app-snackbar
  *ngIf="showSnackbar"
  [message]="snackbarMessage"
  [icon]="'info'"
  [duration]="3000"
  (closed)="onSnackbarClosed()">
</app-snackbar>

<app-table
    [columns]="columns"
    [dataSource]="tableTestData"
    [loading]="loadingTest"
    [showPaginator]="true"
    [selectable]="false"
></app-table>


<p> {{ 'test' | callback : namna }} </p>

<div>
    <app-selector
        [options]="options"
        [color]="'secondary'"
        [size]="'medium'"
    ></app-selector>
</div>

<div class="button-container">
  <app-button
    [label]="'Click me'"
    [color]="'primary'"
    [disabled]="false"
    (clicked)="showMessage('Hola, este es un snackbar!')"
  ></app-button>
</div>


