<div class="equipment-card" [ngClass]="equipment.status === 'Disponible' ? 'available' : 'maintenance'">
  <div class="thumbnail">
    <!-- Placeholder para imagen -->
    <div class="image-placeholder">
      <span>{{ equipment.type.charAt(0) }}</span>
    </div>
  </div>

  <div class="info">
    <h3>{{ equipment.plateNumber }}</h3>
    <p class="model">{{ equipment.type }}</p>
    <p class="status">{{ 'equipment-card.status' | translate }} <span [ngClass]="equipment.status === 'Disponible' ? 'available-text' : 'maintenance-text'">{{ equipment.status }}</span></p>
    <p class="capacity">{{ 'equipment-card.charge' | translate }} {{ equipment.capacityLoad }} kg</p>
    <p class="passengers">{{ 'equipment-card.passengers' | translate }} {{ equipment.capacityPassengers }}</p>
  </div>

  <div class="actions">
    <div class="button-row">
      <app-button
        [label]="'equipment-card.edit' | translate"
        [color]="'primary'"
        (click)="onEdit()"
      ></app-button>
      <app-button
        [label]="'equipment-card.picture' | translate"
        [color]="'secondary'"
        (click)="onUploadPhoto()"
      ></app-button>
    </div>
    <div class="button-row">
      <app-button
        [label]="equipment.status === 'Disponible' ? ('equipment-card.maintain' | translate) : ('equipment-card.able' | translate)"
        [color]="equipment.status === 'Disponible' ? 'danger' : 'primary'"
        (click)="onStatusChange()"
      ></app-button>
    </div>
  </div>
</div>
