.snackbar {
  position: fixed;
  bottom: 20px;
  left: 50%;
  transform: translateX(-50%);
  background-color: #333;
  color: #fff;
  padding: 12px 20px;
  border-radius: 25px;
  box-shadow: 0 4px 15px rgba(0, 0, 0, 0.2);
  display: flex;
  justify-content: space-between;
  align-items: center;
  opacity: 0;
  visibility: hidden;
  transition: opacity 0.3s ease, visibility 0.3s ease;
  z-index: 1000;

  &.show {
    opacity: 1;
    visibility: visible;
  }

  .snackbar-message {
    display: flex;
    align-items: center;

    mat-icon {
      margin-right: 10px;
    }

    span {
      font-size: 16px;
    }
  }

  button {
    color: #fff;
    padding: 0 8px;
    border-radius: 50%;
    background-color: transparent;
    border: none;
    cursor: pointer;
  }
}
