<div class="employee-management-container">
  <div class="header">
    <h1>{{ 'employee-management.employee' | translate }}</h1>

    <div class="actions">
      <div class="filters">
        <span>{{ 'employee-management.filter' | translate }}</span>
        <app-selector
          [options]="positionOptions"
          [color]="'secondary'"
          [size]="'medium'"
          (selectionChange)="onPositionFilterChange($event)"
        ></app-selector>
      </div>

      <div class="view-controls">
        <app-button
          [label]="'employee-management.add' | translate"
          [color]="'primary'"
          (clicked)="openAddDialog()"
        ></app-button>
      </div>
    </div>
  </div>

  <div class="content">
    <div class="table-view">
      <app-table
        [columns]="columns"
        [dataSource]="filteredEmployees"
        [showPaginator]="true"
        [customColumns]="tableActions"
      ></app-table>
    </div>
  </div>
</div>

<ng-template #tableActions let-column="column" let-row="row">
    <div *ngIf="column === 'actions'" class="action-buttons">
      <app-button
        [label]="'employee-management.edit' | translate"
        [color]="'primary'"
        (clicked)="openEditDialog(row)"
      ></app-button>
      <app-button
        [label]="'employee-management.delete' | translate"
        [color]="'danger'"
        (clicked)="deleteEmployee(row)"
      ></app-button>
    </div>
</ng-template>
