<h2 mat-dialog-title>{{ isNewEmployee ? ('employee-form-dialog.add' | translate) : ('employee-form-dialog.edit' | translate) }}</h2>

<mat-dialog-content>
  <form [formGroup]="employeeForm" (ngSubmit)="onSave()">
    <mat-form-field appearance="outline" class="form-field">
      <mat-label>DNI</mat-label>
      <input matInput formControlName="dni" placeholder="Ej. 12345678" [attr.disabled]="isSubmitting">
      <mat-error *ngIf="employeeForm.get('dni')?.invalid && employeeForm.get('dni')?.touched">{{ getErrorMessage('dni') }}</mat-error>
    </mat-form-field>

    <div class="form-row">
      <mat-form-field appearance="outline" class="form-field">
        <mat-label>{{ 'employee-form-dialog.name' | translate }}</mat-label>
        <input matInput formControlName="firstName" placeholder="Ej. Juan" [attr.disabled]="isSubmitting">
        <mat-error *ngIf="employeeForm.get('firstName')?.invalid && employeeForm.get('firstName')?.touched">{{ getErrorMessage('firstName') }}</mat-error>
      </mat-form-field>

      <mat-form-field appearance="outline" class="form-field">
        <mat-label>{{ 'employee-form-dialog.last-name' | translate }}</mat-label>
        <input matInput formControlName="lastName" placeholder="Ej. Pérez" [attr.disabled]="isSubmitting">
        <mat-error *ngIf="employeeForm.get('lastName')?.invalid && employeeForm.get('lastName')?.touched">{{ getErrorMessage('lastName') }}</mat-error>
      </mat-form-field>
    </div>

    <mat-form-field appearance="outline" class="form-field">
      <mat-label>Email</mat-label>
      <input matInput formControlName="email" placeholder="Ej. correo@dominio.com" [attr.disabled]="isSubmitting">
      <mat-error *ngIf="employeeForm.get('email')?.invalid && employeeForm.get('email')?.touched">{{ getErrorMessage('email') }}</mat-error>
    </mat-form-field>

    <mat-form-field appearance="outline" class="form-field">
      <mat-label>{{ 'employee-form-dialog.phone' | translate }}</mat-label>
      <input matInput formControlName="phone" placeholder="Ej. 987654321" [attr.disabled]="isSubmitting">
      <mat-error *ngIf="employeeForm.get('phone')?.invalid && employeeForm.get('phone')?.touched">{{ getErrorMessage('phone') }}</mat-error>
    </mat-form-field>

    <mat-form-field appearance="outline" class="form-field">
      <mat-label>{{ 'employee-form-dialog.status' | translate }}</mat-label>
      <mat-select formControlName="status" [disabled]="isSubmitting">
        <mat-option *ngFor="let option of statusOptions" [value]="option">
          {{ option === 'ACTIVE' ? ('employee-form-dialog.active' | translate) : ('employee-form-dialog.inactive' | translate) }}
        </mat-option>
      </mat-select>
      <mat-error *ngIf="employeeForm.get('status')?.invalid && employeeForm.get('status')?.touched">{{ getErrorMessage('status') }}</mat-error>
    </mat-form-field>

    <mat-form-field appearance="outline" class="form-field">
      <mat-label>{{ 'employee-form-dialog.charges' | translate }}</mat-label>
      <mat-select formControlName="positions" multiple [disabled]="isSubmitting">
        <mat-option *ngFor="let position of data.positions" [value]="position.id">
          {{ position.name }}
        </mat-option>
      </mat-select>
      <mat-error *ngIf="employeeForm.get('positions')?.invalid && employeeForm.get('positions')?.touched">{{ getErrorMessage('positions') }}</mat-error>
    </mat-form-field>
  </form>
</mat-dialog-content>

<mat-dialog-actions align="end">
  <app-button
    [label]="'employee-form-dialog.cancel' | translate"
    [color]="'secondary'"
    [disabled]="isSubmitting"
    (clicked)="onCancel()"
  ></app-button>
  <app-button
    [label]="'employee-form-dialog.save' | translate"
    [color]="'primary'"
    [disabled]="employeeForm.invalid || isSubmitting"
    (clicked)="onSave()"
  ></app-button>
</mat-dialog-actions>
