<div class="general-container">
  <h1>Dashboard de Reporte</h1>
  <div class="information-container">
    <h5>Productividad por equipo</h5>
    <div> Grafico o info escrita? </div>
  </div>
  <div class="information-container">
    <h5>Uso de recursos</h5>
    <div> lista de recursos con for
      <ul>
        <li> Recurso: tiempo de uso en h</li>
        <li> Recurso: tiempo de uso en h</li>
        <li> Recurso: tiempo de uso en h</li>
      </ul>
    </div>
  </div>
  <div class="information-container">
    <div class="incidents-container">
      <div> parte de arriba
        <div> filtro por indicadores</div>
        <div> Lista de incidentes con for
          <div>
            Incidente
            Descripcion
            Grafico
            <button>Descargar</button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
