<div class="general-container">
  <h1>Vista de ejecucion</h1>
  <div class="diagram-container">
    show diagram regarding the history execution
    it should include two lines: 1 regarding the planned dates
    and the 2nd regarding the real execution dates
  </div>
  <div class="history-container">
    <div> search bar by dates </div>
    <table>
      <p> replace to sergio's table</p>
      <p> Includes: Task related, date, comment</p>
    </table>
  </div>
  <div class="button-container">
    <button>Export to PDF </button>
    <button>Export to CSV </button>
  </div>
</div>
