<div class="general-container">
  <div>
    <img src="" alt="el logo q no hay">
  </div>
  <div class="information-container">
    <h1>{{ 'payment-view.bank-info' | translate }}</h1>
    <div class="data-container">
      <div class="field">
        <p>{{ 'payment-view.full-name' | translate }}</p>
        <app-input
          [(value)]="name"
          [placeholder]=" 'payment-view.full-name' | translate ">
        </app-input>
      </div>
      <div class="field">
        <p>{{ 'payment-view.company-name' | translate }}</p>
        <app-input
          [(value)]="company"
          [placeholder]=" 'payment-view.company-name' | translate ">
        </app-input>
      </div>
      <div class="two-inputs">
        <div class="field">
          <p>{{ 'payment-view.card-number' | translate }}</p>
          <app-input
            [(value)]="cardnumber"
            [placeholder]=" 'payment-view.card-number' | translate ">
          </app-input>
        </div>
        <div class="field">
          <p>{{ 'payment-view.card-type' | translate }}</p>
          <app-selector
            [options]="cardTypeList"
            [color]="'secondary'"
            [size]="'large'"
            (selectionChange)="onCardTypeChange($event)">
          </app-selector>
        </div>
      </div>
      <div class="two-inputs">
        <div class="field">
          <p>{{ 'payment-view.month' | translate }}</p>
          <app-selector
            [options]="monthList"
            [color]="'secondary'"
            [size]="'large'"
            (selectionChange)="onMonthChange($event)">
          </app-selector>
        </div>
        <div class="field">
          <p>{{ 'payment-view.year' | translate }}</p>
          <app-selector
            [options]="yearList"
            [color]="'secondary'"
            [size]="'large'"
            (selectionChange)="onYearChange($event)">
          </app-selector>
        </div>
      </div>
      <div class="two-inputs">
        <div class="field">
          <p>{{ 'payment-view.cvv' | translate }}</p>
          <app-input
            [(value)]="cvv"
            [placeholder]="placeholderCvv">
          </app-input>
        </div>
        <div class="field">
          <p>{{ 'payment-view.ruc' | translate }}</p>
          <app-input
            [(value)]="ruc"
            [placeholder]=" 'payment-view.ruc' | translate ">
          </app-input>
        </div>
      </div>
    </div>
    <div class="button-container">
      <app-button class="button" [color]="'primary'" [label]="'payment-view.save' | translate" (click)="onSaveInformation()"></app-button>
    </div>
  </div>
</div>
