<div class="login-wrapper">
  <div class="login-container">
    <h1>{{ 'password-recovery.recover-password' | translate }}</h1>
    <p>{{ 'password-recovery.link-sent' | translate }}</p>

    <form (ngSubmit)="onSubmit()" novalidate>

      <label for="email">{{ 'password-recovery.email' | translate }}</label>
      <input
        type="email"
        id="email"
        name="email"
        [placeholder] = "'password-recovery.email-example' | translate "
        [(ngModel)]="email"
        required
        [class.invalid-input]="submitted && !email"
      />

      <!-- Mensaje de error -->
      <div *ngIf="error" class="error-msg">{{ error }}</div>

      <!-- Mensaje de éxito -->
      <div *ngIf="message" class="success-msg">{{ message }}</div>

      <button type="submit" class="login-btn">{{ 'password-recovery.sent-link' | translate }}</button>
      <button type="button" class="register-btn" (click)="goBack()">{{ 'password-recovery.back-login' | translate }}</button>

    </form>
  </div>
</div>
